body {
    font-family:  serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    color: #333;
    margin-top: 0;
}
p {
    color: #221f1f;
    margin-bottom: 20px;
}
.exercise-list {
    list-style-type:none ;
    padding: 0;
}
.exercise {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.exercise h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.exercise p {
    margin: 0;
    color: #888;
}
.start-btn {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2f392f;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    z-index: 999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.start-btn:hover {
    background-color: #454846;
}

a {
    text-decoration: none; 
    color: black;
}
