body {
  font-family: anta;
  font-weight:400;
  margin: 0;
  padding: 0;
  background: url('../images/gym1.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); 
  backdrop-filter: blur(0.1px); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #2f3234; 
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: #201c1a; 
  font-size: 17px;
  font-family:Arial;
}

input, select {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease; 
}

input:focus, select:focus {
  outline: none; 
  border-color: #2b2c2e; 
}

button {
  padding: 12px;
  background-color: #2c2d2e;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  font-size: 17px;
}

button:hover {
  background-color: #5a411a; 
}