<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Guide</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/week.css') }}">
</head>
<body class="background-color">
  <h1 style="background-color: #4CAF50;">{{goal}}</h1>

  <div class="content">
    <div class="intro">
      <p>Here's your daily dose of inspiration to keep you motivated on your fitness journey. Remember, success is achieved one step at a time.</p>
      <p>Stay focused, stay consistent, and keep pushing towards your goals!</p>
    </div>
    <div class="quote">
      <p>{{ quote_text }}</p>
      <p>- {{ quote_author }}</p>
    </div>

    <div class="progress-bar">
      <div class="progress" style="width: {{ overall_progress }}%;"></div>
    </div>
  </div>

  <div class="container">
    {% for week in range(duration) %}
    <div class="week-container" id="week{{ week + 1 }}">
      <div class="week-label">Week {{ week + 1 }}</div>
      <div class="day-icons">
        {% for day in range(1, 8) %}
        <div class="day-icon" id="day{{ week + 1 }}{{ day }}"><a href="{{ url_for(url) }}">DAY {{ day }}</a></div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>


  
  

  
</body>
</html>
